# Exclude entire docs directory
temporals/docs/
temporals/sbox/

# Python artifacts
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Environment and config files
.env
*.env

# Editor/IDE junk
*.swp
*.swo
*.bak
.vscode/
.idea/

# OS-specific cruft
.DS_Store
Thumbs.db