# Exclude entire docs directory
temporals/docs/

# Python artifacts
temporals/test/.pytest_cache/
*.pyc
*.pyo
*.pyd

# Environment and config files
.env
*.env

# Editor/IDE junk
*.swp
*.swo
*.bak
.vscode/
.idea/

# OS-specific cruft
.DS_Store
Thumbs.db